<% if ids_match? %>

<div>
  <% form_for @comment, :url => recipe_comment_path, :method => :update do |c|%>
    <%= c.label :comment, 'Edit your comment here:' %><br/>
    <%= c.text_area :comment %>
    <div>
      <%= c.submit 'Submit' %>
    </div>
  <% end %>
</div>

<% else %>
<div class="error">
  You are not authorised to edit that.
</div>
<% end %>
