<div>
  By <%= comment.user.username %>:
  <div style="padding: 2px 0px 5px 10px;;">
    <%= comment.comment %>
  </div>
  <% if logged_in? && current_user.id == comment.user_id %>
    <%= link_to 'Edit', edit_recipe_comment_path(:id => comment.id , :recipe_id => comment.recipe_id) %>
    |
    <%= link_to 'Delete', recipe_comment_path(:id => comment.id , :recipe_id => comment.recipe_id), :confirm => 'Are you sure?', :method => :delete %>
  <% end %>
</div>
